/* Appointment.css */

/* Scoped class for the appointment form */
.appointmentBooking__form {
  display: flex;
  justify-content: center;  /* Centers the form horizontally */
  align-items: center;      /* Centers the form vertically */
  min-height: 80vh;        /* Full height for the form */
  padding: 20px;
  box-sizing: border-box;   /* Prevents the padding from breaking the layout */
}

/* Container for the form and image side by side */
.appointmentBooking__container {
  display: flex;
  justify-content: space-between;
  width: 100%;  /* Full width of the parent container */
  max-width: 800px;  /* Max width for larger screens */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Box shadow for the container */
  border-radius: 8px; /* Rounded corners */
  background-color: #fff; /* White background */
  overflow: hidden; /* Prevents overflow from breaking layout */
}

/* Right side with the form */
.appointmentBooking__formContainer {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%; /* Ensures the form takes up the remaining space */
  box-sizing: border-box;
}

.appointmentBooking__heading {
  font-size: 28px;
  margin-bottom: 26px;
  color: #333;
}

/* Styling the form */
.appointmentBooking__formStyle {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Space between fields */
}

/* Input field and select box styling */
.appointmentBooking__input,
.appointmentBooking__select {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;  /* Ensure padding doesn't affect width */
}

/* Button styling */
.appointmentBooking__button {
  padding: 12px;
  background-color: #960c0c;  /* Green button */
  color: white;
  border: none;
  border-radius: 10px;
  font-weight:600;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;  /* Make button full-width */
}

.appointmentBooking__button:hover {
  background-color: #04152b;  /* Darker green on hover */
}

/* Label styling */
.appointmentBooking__label {
  font-weight: bold;
  color: #333;
}





/* Responsive Design */
@media (max-width: 768px) {
  .appointmentBooking__container {
    flex-direction: column;  /* Stack the form and image on small screens */
    width: 100%; /* Adjust the width on smaller screens */
  }
  .appointmentBooking__form {
    padding: 0px;
  }
  .appointmentBooking__formContainer {
    padding: 20px;  
  }
  .appointmentBooking__image,
  .appointmentBooking__formContainer {
    width: 100%; /* Make columns full width on smaller screens */
  }

  .appointmentBooking__image {
    display:none
  }

  .css-1yvlll1 {
    background: #fff;
    border-radius: 8px;
    padding: 5px!important;
    margin: 20px 0;
    box-shadow: none!important;
}
  
}
